.page-header {

	margin-top: 0;
}

.page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {

	color: #FAAF22;
	padding-left: 250px;
}

.post{

	padding-left: 300px;
}

.explication{

	padding-left: 300px;


}n