{% load static %}
<html>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<div class="container">
		<div class="alert alert-danger alert-dismissable">
			<a href='/tfg/' class='close' data-dismiss="alert" aria-label="close">&times;</a> 
			<strong><span class="glyphicon glyphicon-warning-sign"></span> Error: </strong> el archivo debe tener extensión xml.
		</div>
	</div>		
</html>