{% extends 'base.html'%}

{% block content %}
	<div class="page-header-results">
		<h1>Resultados</h1>
	</div>
	<div class="errores">
		{% if not r_mod1 and not r_mod2 and not r_mod3 %}	 
			<div class="alert alert-success alert-dismissable">
				<a href='/tfg/indice' class='close' data-dismiss="alert" aria-label="close">&times;</a> 
						<span class="glyphicon glyphicon-ok-circle"></span>    La partitura no contiene ningún error.
			</div>
		{% else %}
			<ul class="nav nav-tabs contenido-tab">
				{% if r_mod1 %}
					<li class="active"><a data-toggle="tab" href="#mod1">Errores Módulo 1</a></li>
				{% endif %}
				{% if r_mod1 and r_mod2 %}
					<li><a data-toggle="tab" href="#mod2">Errores Módulo 2</a></li>
				{% elif not r_mod1 and r_mod2 %}
					<li class="active"><a data-toggle="tab" href="#mod2">Errores Módulo 2</a></li>
				{% endif %}
				{% if r_mod3 and not r_mod2 and not r_mod1 %}
					<li class="active"><a data-toggle="tab" href="#mod3">Errores Módulo 3</a></li>
				{% elif r_mod3 and r_mod2 %}
					<li><a data-toggle="tab" href="#mod3">Errores Módulo 3</a></li>
				{% elif r_mod3 and r_mod1 %}
					<li><a data-toggle="tab" href="#mod3">Errores Módulo 3</a></li>
				{% endif %}
			</ul>

			<div class="tab-content contenido-resultados">
				{% if r_mod1 %}
					<div class="tab-pane fade in active" id="mod1">
						{%for r in r_mod1 %}
							<li>{{r}}</li>
						{% endfor %}
					</div>
				{% endif %}
				{% if r_mod2 %}
					<div class="tab-pane fade in" id="mod2">
						{%for r in r_mod2 %}
							<li>{{r}}</li>
						{% endfor %}
					</div>
				{% endif %}
				{% if r_mod3 %}
					<div class="tab-pane fade in" id="mod3">
						{%for r in r_mod3 %}
							<li>{{r}}</li>
						{% endfor %}
					</div>
				{% endif %}
			{% endif %}
		</div>

		<a href='/tfg/indice' id="volver" class="btn btn-primary btn-lg btn-custom2 pull-right">Volver</a>
	</div>
{% endblock %}